/* 
© 2019 Google LLC.  All rights reserved.

This software is subject to the Google Cloud Terms of Service, as
modified by the "General Software Terms" of the Google Cloud Service Specific Terms, available at: https://cloud.google.com/terms/service-terms.
 */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-v20-latin-regular.woff2") format("woff2");
}
   

div.bubble-tooltip {
   position: absolute;
   text-align: center;
   font-family: 'Roboto';
   padding: .5rem;
   color: #313639;
   border: 1px solid #313639;
   border-radius: 8px;
   pointer-events: none;
   font-size: 1.3rem;
}